* {
    margin: 0;
    padding: 0;
  }
  
  h1{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-top: 50px;
    margin-left: 50px;
  }
  
  .main__header {
    width: 100%;
    height: 70px;
    background-color: grey;
    padding-top: 23.3px;
    box-sizing: border-box;
  }
  
  li {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    list-style: none;
    display: inline-block;
    padding-right: 5px;
    padding-left: 40px;
  }
  
  a {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .look {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
  }
  
  .reg{
    padding-left: 700px;
  }